<dom-module id="block-user">
	<style>
		:host {
			display: inline-block;
		}

		.name {
			font-weight: bold;
			display: var(--block-user-name-display);
		}

		.avatar {
			border-radius: 100%;
			vertical-align: top;
			margin-right: 5px;

			@apply(--block-user-avatar);
		}
	</style>

	<template>

		<span  hidden$="[[ !computeToBool(data.avatar) ]]">
			<img class="avatar" src="[[data.avatar]]">
		</span>

		<span class="name">[[data.name]]</span>

	</template>
</dom-module>

<script>
	Polymer({
		is:"block-user",


		behaviors:[tinng.polymerBehavior.Basic]
	})
</script>