<polymer-element name="block-tag">
	<template>
		<style>

			:host {
				margin: 1px 4px 1px 0;
				padding: 2px 4px;
				display: inline-block;
				position: relative;
				background-color: #bbb;
				color: #fff;
			}

			:host([tagType="user"]) {
				background-color: #d0e7ff;
				color: #3f6c9a;
			}

		</style>

		<content></content>
	</template>

	<script>
		Polymer({

			publish:{
				data:{},
				tagType:{ value:'', reflect:true},
				tagID:{ value:-1, reflect:true}
			},

			computed:{
				tagType:'data.type',
				tagID:'data.id'
			},

			created:function(){
				this.data = {};
			},

			onTap:function(e){
				this.fire('tag-select', this.data);

				e.stopPropagation();
			}
		})
	</script>
</polymer-element>