<link rel="import" href="../block-tag/block-tag.html">
<link rel="import" href="../block-user/block-user.html">

<polymer-element name="card-topic" attributes="model" on-tap="{{ selectTopic }}">
	<template>
		<style>
			:host {
				display: block;
			}
		</style>

		<card-topic-deco model="[[model]]">
			<h2 class="title">{{model.topic_name}}</h2>
			<span class="message">{{model.message}}</span>

			<block-user data="{{ {name: model.author, id: model.author_id, email: model.author_email} }}"></block-user>
			<span class="created">{{model.created}}</span>
			<span class="modified">{{model.modified}}</span>

			<template repeat="{{tag in model.tags}}">
				<block-tag data="{{tag}}">{{tag.name}}</block-tag>
			</template>
		</card-topic-deco>

	</template>

	<script>
		Polymer({

			//polymer
			publish:{
				private:{value:false, reflect:true},
				selected:{value:false, reflect:true}
			},

			computed:{
				ID:'+data.id',
				unread:'!!+data.unread',
				private:'!!+data.private',
				selected:'model.selected'
			},

			//other
			selectTopic:function(){
				this.fire('iron-signal', {name:'topic-select', data: {topic:this.model, sender:this}});
			}
		});
	</script>
</polymer-element>