<link rel="import" href="../block-tag/block-tag.html">
<link rel="import" href="../block-user/block-user.html">

<dom-module id="card-topic">

	<style>
		:host {
			display: block;
		}
	</style>

	<template>

		<card-topic-deco model="[[model]]">
			<h2 class="title">[[model.topic_name]]</h2>
			<span class="message">[[model.message]]</span>

			<block-user data="[[ getAuthorData(model) ]]"></block-user>
			<span class="created">[[model.created]]</span>
			<span class="modified">[[model.modified]]</span>

			<template is="dom-repeat" items="[[ model.tags ]]" as="tag">
				<block-tag data="{{tag}}">[[tag.name]]</block-tag>
			</template>
		</card-topic-deco>

	</template>
</dom-module>

<script>
	Polymer({
		//polymer
		is:"card-topic",

		behaviors:[tinng.polymerBehavior.Basic],

		listeners: {
			"tap": "selectTopic"
		},

		properties:{
			private: {
				type: Boolean,
				value: false,
				reflectToAttribute: true,
				computed:"computeStrToBool(data.private)"
			},

			selected: {
				type: Boolean,
				value: false,
				reflectToAttribute: true,
				computed:"computeEqual(model.selected)"
			},

			undread: {
				type: Boolean,
				value: false,
				reflectToAttribute: true,
				computed:"computeStrToBool(data.unread)"
			},

			ID: {
				type: Number,
				value:0,
				computed:"computeToNumber(data.id)"
			}
		},

		getAuthorData:function(model){
			return {name: model.author, id: model.author_id, email: model.author_email}
		},

		//other
		selectTopic:function(){
			this.fire('iron-signal', {name:'topic-select', data: {topic:this.model, sender:this}});
		}
	});
</script>