<link rel="import" href="../unit-topics/unit-topics.html">
<link rel="import" href="../unit-posts/unit-posts.html">

<polymer-element name="page-main" class="tinng-page" horizontal layout flex on-suspend="{{hideTopics}}">
	<template>

		<style>
			:host {

			}

			.unit::shadow .content {
				background-color: #f1f1f1;
				border-right:1px solid #e5e5e5;
				overflow-x: hidden;
				overflow-y: scroll;
			}

			.column {
				transition:width 0.3s ease;
				overflow-x:hidden;
			}

			.column.hidden {
				width:0 !important;
			}
		</style>

		<div class="column {{col1class}}" id="col1" vertical layout style="width:30%">
			<unit-topics class="unit" id="unit-topics" flex></unit-topics>
		</div>
		<div class="column" vertical layout flex>
			<unit-posts class="unit" id="unit-posts" flex></unit-posts>
		</div>
		<div class="column"></div>
	</template>

	<script>
		Polymer({
			col1class: '',

			hideTopics:function(){
				this.col1class = 'hidden';
				this.fire('core-signal', {name:'unit-topics', data:{command:'suspend'}})
			}
		});
	</script>
</polymer-element>