<link rel="import" href="../unit-topics/unit-topics.html">
<link rel="import" href="../unit-posts/unit-posts.html">

<polymer-element name="page-main" class="tinng-page" horizontal layout flex
	 on-suspend="{{hideTopics}}"
	 on-reveal="{{showTopics}}"
>
	<template>

		<style>
			:host {
				background-color: #f5f5f5;
			}

			.unit::shadow .content {
				background-color: #f1f1f1;
				border-right:1px solid #e5e5e5;
				overflow-x: hidden;
				overflow-y: scroll;
			}

			.column {
				transition:width 0.5s;
				/* http://matthewlein.com/ceaser/ easeInOutCubic */
				transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000) !important;
				overflow-x:hidden;
			}

			.column.hidden {
				width:0 !important;
			}

			.main-block {
				min-width: 1000px;
				max-width: 1260px;
				width: 90%;
			}
		</style>

		<page-main-deco>
			<div class="main-block" horizontal layout>

				<div class="column {{col1class}}" id="col1" vertical layout style="width:40%">
					<unit-topics class="unit" id="unit-topics" flex></unit-topics>
				</div>

				<div class="column" vertical layout flex>
					<unit-posts class="unit" id="unit-posts" flex></unit-posts>
				</div>

				<div class="column"></div>

			</div>
		</page-main-deco>

	</template>

	<script>
		Polymer({
			col1class: '',

			hideTopics:function(){
				this.col1class = 'hidden';
				this.fire('core-signal', {name:'unit-topics', data:{command:'suspend'}})
			},

			showTopics:function(){
				this.col1class = '';
			}
		});
	</script>
</polymer-element>