<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">

<dom-module id="tinng-header">

	<style>
		:host {
			display: block;
		}

		paper-toolbar {
			background-color: #0277bd; /* google light blue 800 */
			color: #81d4fa; /* google light blue 200*/
		}

		paper-toolbar, paper-toolbar::shadow .toolbar-tools {
			height:42px;
		}

		::content ::shadow paper-button {
			font-size: 85%;
		}
	</style>

	<template>
		<paper-toolbar>
			<content></content>
		</paper-toolbar>
	</template>
</dom-module>

<script>Polymer({is:'tinng-header'})</script>