<link rel="import" href="../unit-base/unit-base.html">
<link rel="import" href="../card-post/card-post.html">

<polymer-element name="unit-posts" extends="unit-base" vertical layout>
	<template>
		<style>
			:host {

			}

			core-toolbar {
				background-color: #039be5; /*Google Light Blue 600*/
				color:#fff;
				font-weight: 300;
			}

			core-toolbar, core-toolbar::shadow .toolbar-tools {
				height:56px;
			}

			paper-icon-button {
				color:#01579b;
			}

			.editor {
				background-color: #fff;
				padding: 20px;
			}

			textarea {
				margin-right:20px;
				font-size: 150%;
				padding:5px;
			}

			.send {
				width:100px
			}
		</style>

		<core-signals
			on-core-signal-secondary-close="{{ meSingle }}"
		></core-signals>

		<core-toolbar>

			<paper-icon-button hidden?="{{ !fullframe }}" icon="arrow-back"></paper-icon-button>
			<paper-icon-button icon="menu"></paper-icon-button>

			<span>Name of the topic</span>
		</core-toolbar>

		<div class="content" flex>
			<template repeat="{{post in posts}}">
				<card-post model="{{post}}"></card-post>
			</template>
		</div>

		<div class="editor" horizontal layout>
			<textarea flex></textarea>
			<paper-button self-center raised class="highlight send">
				Send
				<core-icon icon="send"></core-icon>
			</paper-button>
		</div>

	</template>

	<script>
		Polymer({

			created:function(){
				this.posts = [
					{message:1},
					{message:2},
					{message:3},
					{message:4},
				];

				this.fullframe = false;
			},

			ready:function(){
				tinng.units.push(this);
			},

			meSingle:function(){
				this.fullframe = true;
			}
		});
	</script>
</polymer-element>