<link rel="import" href="../unit-base/unit-base.html">
<link rel="import" href="../card-post/card-post.html">

<polymer-element name="unit-posts" extends="unit-base" vertical layout>
	<template>
		<style>
			:host {

			}

			core-toolbar {
				background-color: #039be5; /*Google Light Blue 600*/
				color:#fff;
				font-weight: 300;
			}

			core-toolbar, core-toolbar::shadow .toolbar-tools {
				height:56px;
			}
		</style>

		<core-toolbar>

			<paper-icon-button icon="menu"></paper-icon-button>

			<span>Posts</span>
		</core-toolbar>

		<div class="content" flex>
			<template repeat="{{post in posts}}">
				<card-post model="{{post}}"></card-post>
			</template>
		</div>

	</template>

	<script>
		Polymer({

			created:function(){
				this.posts = [
					{message:1},
					{message:2},
					{message:3},
					{message:4},
				]
			}
		});
	</script>
</polymer-element>