<link rel="import" href="../unit-base/unit-base.html">
<link rel="import" href="../card-post/card-post.html">
<link rel="import" href="../nodelist-posts/nodelist-posts.html">

<polymer-element name="unit-posts" extends="unit-base" vertical layout>
	<template>
		<style>
			:host {

			}

			core-toolbar, core-toolbar::shadow .toolbar-tools {
				height:56px;
			}

			.editor {
				background-color: #fff;
				padding: 20px;
			}

			textarea {
				margin-right:20px;
				font-size: 150%;
				padding:5px;
			}

			.send {
				width:100px
			}

			polyfill-next-selector {content:'block-user .name'}
			block-user::shadow .name {
				display:none;
			}

			polyfill-next-selector {content:'block-user .avatar'}
			block-user::shadow .avatar {
				height:30px;
			}

			.allowed-users {
				opacity: 1;
				transition: opacity 0.18s ease-in;
				height:56px;
			}

			.allowed-users[hidden] {
				opacity:0;
				display: flex !important;
			}
		</style>

		<core-signals
			on-core-signal-secondary-close="{{ meSingle }}"
			on-core-signal-topic-select="{{ topicSelect }}"
			on-core-signal-add-message="{{ addMessage }}"
			on-core-signal-rescribe-all="{{ subscribe }}"
		></core-signals>

		<unit-posts-deco>
			<core-toolbar class="core-narrow {{private ? 'medium-tall' : ''}}">

				<paper-icon-button hidden?="{{ !fullframe }}" on-tap="{{ goBack }}" icon="arrow-back"></paper-icon-button>
				<!--<paper-icon-button icon="menu"></paper-icon-button>-->

				<span>{{topic.topic_name}}</span>


				<div hidden?="{{!private}}" flex vertical layout class="bottom allowed-users">
					<text-string hidden?="{{!private}}" class="block tinytext">unit.posts.privateDisclaimer</text-string>
					<div flex horizontal layout center>
						<template repeat="{{reader in topic.private}}">
							<block-user data="{{ {name:reader.display_name, avatar:reader.avatar} }}"></block-user>
						</template>
					</div>
				</div>

			</core-toolbar>

			<nodelist-posts id="postsList" updates="{{updates}}" class="content" flex></nodelist-posts>

			<div class="editor" horizontal layout>
				<textarea id="messageInput" flex></textarea>
				<paper-button self-center raised class="highlight send" on-tap="{{ addMessage }}">
					<text-string>unit.posts.sendBtn</text-string>
					<core-icon icon="send"></core-icon>
				</paper-button>
			</div>
		</unit-posts-deco>

	</template>

	<script>
		Polymer({

			//properties
			fullframe: false,
			selectedTopic:0,

			//polymer
			observe:{
				'selectedTopic':'subscribe'
			},

			computed:{
				private:'topic.private && topic.private != "0"'
			},

			ready:function(){
				this.updates = [];
				this.topic = {};

				if (tinng.router.get('topic')) {
					this.selectedTopic = _.parseInt(tinng.router.get('topic'));
				}
			},

			//other
			subscribe: function(){
				this.clean();

				tinng.connection.subscribe([{
					subscriber: this,
					feedName: 'posts-main',
					feed:{
						feed:'posts',
						limit:50,
						topic: this.selectedTopic
					},
					parser:function(data){
						this.updates = data;
					}
				},{
					subscriber:this,
					feedName: 'topic-data-main',
					feed:{
						feed:'topic',
						id: this.selectedTopic
					},
					parser:function(data){
						this.topic = data;
						this.fire('core-signal', {name:'topic-loaded', data:{id: data.id}});
					}
				}]);

				this.$.postsList.showLoading();
			},

			clean:function(){
				this.updates = [];
				this.$.postsList.clean();

				tinng.connection.unscribe(this, 'posts-main');
				tinng.connection.unscribe(this, 'topic-data-main');
			},

			topicSelect:function(event, details){

				this.loading = true;

				this.selectedTopic = details.topic.id;
			},

			addMessage: function(event, message){
				var message = this.$.messageInput.value;

				if (!!this.selectedTopic && !message.match(/^\s*$/)) {

					tinng.connection.write({
						action:'add_post',
						topic: this.selectedTopic,
						message: message
					});

					this.$.messageInput.value = '';
				}
			},

			//draft
			meSingle:function(){
				this.fullframe = true;
			},

			goBack:function(){

				this.async(function(){this.fullframe = false;}, null, 250)

				this.fire('reveal', {sender:this})
			}
		});
	</script>
</polymer-element>