<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="../../behaviors/unit-behavior.html">
<link rel="import" href="../unit-base/unit-style.html">
<link rel="import" href="../nodelist-topics/nodelist-topics.html">

<dom-module id="unit-topics">


	<style include="unit-style">
		:host {
			min-width: 350px;
			overflow: hidden;

			@apply(--layout);
			@apply(--layout-vertical);
			@apply(--layout-flex);
		}

		@media (max-width: 350px) {
			:host {
				min-width: 200px;
			}
		}

		:host-context(page-main-mobile) #close {
			display:none;
		}

		paper-toolbar, paper-toolbar::shadow .toolbar-tools {
			height: 56px;
		}

		paper-toolbar.medium-tall {
			height: 112px;
		}

		#menu {
			width: 250px;
			min-height: 200px;
			position: absolute;
			top: 0;
			left: -260px;
			z-index: 100;
			transition:left 0.3s;
			transition-timing-function:ease;
		}

		.menu-show-ease {
			/* http://matthewlein.com/ceaser/ easeOutCirc */
			transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000) !important;
		}

		.menu-hide-ease {
			/* http://matthewlein.com/ceaser/ easeInCirc */
			transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335) !important;
		}

		#menu.visible {
			left:0;
		}

		#searchAnimator {
			width: 100%;
			transition: opacity 0.2s;
			opacity: 1;
		}

		#searchAnimator.iron-collapse-closed {
			opacity: 0;
		}

		.text-container[opaque] {
			opacity: 1;
		}

		paper-toolbar .search {
			margin-right:0;
		}


	</style>

	<template>

		<iron-signals
			on-iron-signal-unit-topics="parseSignal"
			on-iron-signal-topic-loaded="onTopicLoaded"
			on-iron-signal-rescribe-all="subscribe"
		></iron-signals>

		<unit-topics-deco>

			<!-- MENU -->
			<!-- todo - find out why class (or any other attr) here can be binded only with $, while in login panel src is working -->
			<div id="menu" class$="[[ getMenuClass(menuVisible, menuClass) ]]">
				<paper-shadow z="1">
					<paper-toolbar>
						<paper-icon-button icon="chevron-left" on-tap="menuHide"></paper-icon-button>
						<text-string class="flex">global.menu</text-string>
					</paper-toolbar>
					<div class="menu-body" style="min-height: 200px">

					</div>
				</paper-shadow>
			</div>

			<!-- TOOLBAR-->
			<paper-toolbar>

				<!-- MENU BUTTON -->
				<paper-icon-button icon="menu" on-click="menuShow"></paper-icon-button>

				<!-- UNIT HEADING -->
				<text-string hidden$="{{searchOn}}" id="unitHeader" class="flex">unit.topics.unitName</text-string>

				<!-- SEARCH todo - maybe export to another component-->
				<div hidden hidden$="{{!searchOn}}" on-transitionend="searchHideEnd" class="search horizontal layout flex">
					<iron-collapse id="searchAnimator" class="horizontal" horizontal duration="0.2" fixedSize="true">
						<!-- todo - написать свой коллапсер -->
						<div class="horizontal layout" style="width:100%">
							<div class="text-container horizontal layout flex" opaque$="{{searchOn}}" >
								<input type="text">
							</div>
							<paper-icon-button style="margin-left:5px" icon="backspace" on-tap="searchClearHide"></paper-icon-button>
						</div>
					</iron-collapse>
				</div>

				<!-- SEARCH ICON -->
				<paper-icon-button icon="search" on-tap="searchShow" hidden$="{{searchOn}}"></paper-icon-button>

				<!-- only when used in units grid-->
				<span id="controlsEmbedded" class="horizontal layout center">
					<!--<paper-icon-button icon="chevron-left" id="hide"></paper-icon-button>-->
					<paper-icon-button id="close" icon="close" on-tap="suspend"></paper-icon-button>
				</span>
			</paper-toolbar>

			<!-- TOPICS -->
			<nodelist-topics id="topicsList" updates="{{updates}}" class="content vertical layout flex"></nodelist-topics>

			<paper-fab icon="note-add"></paper-fab>

		</unit-topics-deco>

	</template>

</dom-module>

<script>
	Polymer({
		is:'unit-topics',

		behaviors:[
			tinng.polymerBehavior.Nodelist,
			tinng.polymerBehavior.Unit,
			tinng.polymerBehavior.Basic,
		],

		ready:function(){
			//this.text = text;
			this.menuVisible = false;
			this.menuClass = 'menu-hide-ease';

			this.updates = [];
			this.subscribe();
		},


		// other

		getMenuClass:function(menuVisible, menuClass){
			return (menuVisible ? 'visible ' : '') + menuClass;
		},

		subscribe: function() {

			this.clean();

			tinng.connection.subscribe({
				subscriber: this,
				feedName: 'topics-main',
				feed: {
					feed: 'topics'
				},
				parser: function(data) {
					this.updates = data;
				}
			});
		},

		clean:function(){
			this.updates = [];
			if (this.$.topicsList.clean) this.$.topicsList.clean();

			tinng.connection.unscribe(this, 'topics-main');
		},


		// drafts

		onTopicLoaded:function(event, data, sender){

			if (this.$.topicsList.markSelected) this.$.topicsList.markSelected(data.id);
		},

		suspend: function () {
			/*
			* todo - Эта функция работает нестандартно: она посылает 2 сигнала, один - наверх (где он засекается элементом
			* разметки) и один широковещательно. Разметка закрывает колонку и посылает другой широковещ. сигнал, который
			* засекается текущим элементом. Некая часть этого сценария является полезной идеей, но в целом ее нужно
			* продумать лучше
			* */
			this.fire('suspend', {sender: this});
			this.fire('iron-signal', {name: 'secondary-close'});
		},

		parseSignal: function (event, data) {
			//console.log(data);
			if (data.command == 'suspend') {
				console.info('SUSPEND topics unit activity')
			}

			if (data.command == 'restore') {
				console.info('RESTORE topics unit activity')
			}
		},

		// menu and search funcs - todo to be moved along with it's components
		menuShow: function () {
			this.menuVisible = true;
			this.menuClass = 'menu-show-ease';
		},

		menuHide: function () {
			this.menuVisible = false;
			this.menuClass = 'menu-hide-ease';
		},

		searchShow:function(){
			this.searchOn = true;
			this.searchToggle();
		},

		searchClearHide:function(){
			this.searchToggle();
		},

		searchHideEnd:function(){
			if (!this.$.searchAnimator.opened){
				this.searchOn = false;
			}
		},

		searchToggle:function(){
			this.$.searchAnimator.toggle();
		}
	});
</script>