<link rel="import" href="../unit-base/unit-base.html">
<link rel="import" href="../nodelist-topics/nodelist-topics.html">
<link rel="import" href="../../bower_components/core-animation/core-animation.html">

<polymer-element name="unit-topics" extends="unit-base" vertical layout>
	<template>
		<style>
			:host {
				min-width: 350px;
				overflow: hidden;
				position: relative;
			}

			core-toolbar, core-toolbar::shadow .toolbar-tools {
				height: 56px;
			}

			core-toolbar.medium-tall {
				height: 112px;
			}

			#menu {
				width: 250px;
				min-height: 200px;
				position: absolute;
				top: 0;
				left: -260px;
				z-index: 100;
				transition:left 0.3s;
				transition-timing-function:ease;
			}

			.menu-show-ease {
				/* http://matthewlein.com/ceaser/ easeOutCirc */
				transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000) !important;
			}

			.menu-hide-ease {
				/* http://matthewlein.com/ceaser/ easeInCirc */
				transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335) !important;
			}

			#menu.visible {
				left:0;
			}


		</style>

		<core-signals
			on-core-signal-unit-topics="{{ parseSignal }}"
			on-core-signal-topic-loaded="{{ onTopicLoaded }}"
			on-core-signal-rescribe-all="{{ subscribe }}"
		></core-signals>

		<unit-topics-deco>

			<div id="menu" class="{{menuVisible ? 'visible' : ''}} {{ menuClass }}">
				<paper-shadow z="1">
					<core-toolbar>
						<paper-icon-button icon="chevron-left" on-tap="{{ menuHide }}"></paper-icon-button>
						<text-string flex>global.menu</text-string>
					</core-toolbar>
					<div class="menu-body" style="min-height: 200px">

					</div>
				</paper-shadow>
			</div>

			<core-toolbar>

				<paper-icon-button icon="menu" on-click="{{ menuShow }}"></paper-icon-button>

					<text-string id="unitHeader" flex>unit.topics.unitName</text-string>

				<!-- sow only when used in sub-space -->
				<span id="controlsEmbedded">
					<paper-icon-button icon="chevron-left" id="hide"></paper-icon-button>
					<paper-icon-button icon="highlight-remove" on-tap="{{ suspend }}"></paper-icon-button>
				</span>
			</core-toolbar>

			<nodelist-topics id="topicsList" updates="{{updates}}" class="content" flex></nodelist-topics>

			<paper-fab icon="add" on-tap="{{}}"></paper-fab>

		</unit-topics-deco>

	</template>

	<script>
		Polymer({
			// properties

			text: text,
			menuVisible:false,

			// polymer


			ready:function(){
				this.updates = [];
				this.subscribe();
			},


			// other

			subscribe: function() {

				this.clean();

				tinng.connection.subscribe({
					subscriber: this,
					feedName: 'topics-main',
					feed: {
						feed: 'topics'
					},
					parser: function(data) {
						this.updates = data;
					}
				});
			},

			clean:function(){
				this.updates = [];
				this.$.topicsList.clean();

				tinng.connection.unscribe(this, 'topics-main');
			},


			// drafts

			onTopicLoaded:function(event, data, sender){

				console.log('topicLoaded', data)

				this.$.topicsList.markSelected(data.id);
			},

			suspend: function () {
				this.fire('suspend', {sender: this});
				this.fire('core-signal', {name: 'secondary-close'})
			},

			parseSignal: function (event, data) {
				//console.log(data);
				if (data.command == 'suspend') {
					console.info('SUSPEND!')
				}
			},

			menuShow: function () {
				this.menuVisible = true;
				this.menuClass = 'menu-show-ease';
			},

			menuHide: function () {
				this.menuVisible = false;
				this.menuClass = 'menu-hide-ease';
			}
		});
	</script>
</polymer-element>