<link rel="import" href="../unit-base/unit-base.html">
<link rel="import" href="../card-topic/card-topic.html">
<link rel="import" href="../../bower_components/core-animation/core-animation.html">

<polymer-element name="unit-topics" extends="unit-base" vertical layout>
	<template>
		<style>
			:host {
				min-width: 350px;
				overflow: hidden;
				position: relative;
			}

			core-toolbar {
				background-color: #039be5; /*Google Light Blue 600*/
				color: #fff;
				font-weight: 300;
				border-right: 1px solid #03a9f4; /* google light blue 500 */
			}

			core-toolbar, core-toolbar::shadow .toolbar-tools {
				height: 56px;
			}

			core-toolbar.medium-tall {
				height: 112px;
			}

			paper-fab {
				background-color: #ffab00; /* google amber A700 */
				position: absolute;
				bottom: 30px;
				right: 45px;
			}

			paper-icon-button {
				color: #01579b;
			}

			#menu {
				width: 250px;
				min-height: 200px;
				position: absolute;
				top: 0;
				left: -250px;
				background-color: #fff;
				z-index: 100;
				transition:left 0.4s;
				transition-timing-function:ease;
			}

			.menu-show-ease {
				/* http://matthewlein.com/ceaser/ easeOutCirc */
				transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000) !important;
			}

			.menu-hide-ease {
				/* http://matthewlein.com/ceaser/ easeInCirc */
				transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335) !important;
			}

			#menu.visible {
				left:0;
			}

			#menu core-toolbar {
				background-color: #b0bec5; /* google blue grey 200 */
				color: white;
				border: none;
			}

			#menu paper-icon-button {
				color: #455a64; /* google blue grey 700 */
			}


		</style>

		<core-signals
				on-core-signal-unit-topics="{{parseSignal}}"
				></core-signals>

		<div id="menu" class="{{menuVisible ? 'visible' : ''}} {{menuClass}}">
			<paper-shadow z="1"></paper-shadow>
			<core-toolbar>
				<paper-icon-button icon="chevron-left" on-tap="{{ menuHide }}"></paper-icon-button>
				<span flex>Menu</span>
			</core-toolbar>
		</div>

		<core-toolbar>

			<paper-icon-button icon="menu" on-click="{{ menuShow }}"></paper-icon-button>

			<span id="unitHeader" flex>Topics</span>

			<!-- sow only when used in sub-space -->
			<span id="controlsEmbedded">
				<paper-icon-button icon="chevron-left" id="hide"></paper-icon-button>
				<paper-icon-button icon="highlight-remove" on-tap="{{ suspend }}"></paper-icon-button>
			</span>
		</core-toolbar>

		<div class="content" flex>
			<template repeat="{{topic in topics}}">
				<card-topic model="{{topic}}"></card-topic>
			</template>
		</div>

		<paper-fab icon="add" on-tap="{{fabTap}}"></paper-fab>

	</template>

	<script>
		Polymer({
			menuVisible:false,

			created: function () {

				this.topics = [
					{id: 1, message: '111', title: 'Topic 1'},
					{id: 2, message: '222', title: 'Topic 2'}
				];


			},

			ready:function(){
				tinng.units.push(this);
			},

			actions: {
				fab: {
					tap: function () {
						console.log(this)
					}
				}
			},

			suspend: function () {
				this.fire('suspend', {sender: this})
				this.fire('core-signal', {name: 'secondary-close'})
			},

			parseSignal: function (event, data) {
				console.log(data)

				if (data.command == 'suspend') {
					console.info('SUSPEND!')
				}
			},

			menuShow: function () {
				this.menuVisible = true;
				this.menuClass = 'menu-show-ease';
			},

			menuHide: function () {
				this.menuVisible = false;
				this.menuClass = 'menu-hide-ease';
			}
		});
	</script>
</polymer-element>