<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

<polymer-element name="tinng-header" noscript>
	<template>
		<style>
			:host {
				display: block;
			}

			paper-toolbar {
				background-color: #0277bd; /* google light blue 800 */
				color: #81d4fa; /* google light blue 200*/
			}

			paper-toolbar, paper-toolbar::shadow .toolbar-tools {
				height:42px;
			}

			::content ::shadow paper-button {
				font-size: 70%;
			}
		</style>

		<paper-toolbar>
			<content></content>
		</paper-toolbar>
	</template>
</polymer-element>