<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">

<polymer-element name="tinng-header" noscript>
	<template>
		<style>
			core-toolbar {
				background-color: #0277bd; /* google light blue 800 */
				color: #81d4fa; /* google light blue 200*/
			}

			core-toolbar, core-toolbar::shadow .toolbar-tools {
				height:42px;
			}

			::content ::shadow paper-button {
				font-size: 70%;
			}
		</style>

		<core-toolbar>
			<content></content>
		</core-toolbar>
	</template>
</polymer-element>