<dom-module id="unit-style">
	<template>
		<style>
			:host {
				position: relative;

				@apply(--layout);
				@apply(--layout-vertical);
				@apply(--layout-flex);
			}

			paper-toolbar, paper-toolbar::shadow .toolbar-tools {
				height: 56px;
			}

			paper-toolbar.medium-tall {
				height: 112px;
			}

			#scroll {
				padding: 15px 15px 1px 15px;
				position: relative;
			}

			[loading] {
				background: url(../../styles/throbber_1.gif) no-repeat center center;
			}
		</style>
	</template>
</dom-module>