<polymer-element name="header-login-panel">
	<template>
		<style>
			:host {

			}

			img {
				vertical-align: middle;
				height: 36px;
				border-radius: 100%;
				margin-right: 5px;
			}
		</style>

		<div hidden?="{{ !(status == 'logged') }}" style="height:100%">
			<template if="{{user.avatar}}">
				<img _src="{{user.avatar}}">
			</template>
			{{user.login}}
			<paper-button on-tap="{{logOut}}"><text-string>dialog.login.logoutButton</text-string></paper-button>
		</div>

		<div hidden?="{{ !(status == 'anonymous') }}">
			<paper-button on-tap="{{dialogLogin}}"><text-string>global.login</text-string></paper-button>
		</div>

		<paper-dialog transition="core-transition-top" id="dialogLogin" heading="{{text('dialog.login.header')}}">
			<paper-input-decorator label="{{text('dialog.login.loginLabel')}}" floatingLabel>
				<input type="text" tabindex="1" id="inputLogin">
			</paper-input-decorator>
			<paper-input-decorator label="{{text('dialog.login.passwordLabel')}}" floatingLabel>
				<input type="password" tabindex="2" id="inputPassword">
			</paper-input-decorator>
			<div style="text-align: right; margin-top:10px">
				<paper-button tabindex="4" on-tap="{{hideDialogLogin}}"><text-string>dialog.login.cancelButton</text-string></paper-button>
				<paper-button tabindex="3" on-tap="{{logIn}}" class="action"><text-string>dialog.login.loginButton</text-string></paper-button>
			</div>
		</paper-dialog>
	</template>

	<script>
		Polymer({
			text:text,
			status:'',

			//polymer
			created: function(){
				this.user = {};

				var login = tinng.funcs.getCookie('login');
				var password = tinng.funcs.getCookie('password');

				if (login && password) {
					this.loginFromCookies = true;
					this.subscribe(login, password);
				} else {
					this.status = 'anonymous';
				}
			},

			userChanged:function(){
				tinng.user = this.user;
			},

			//other
			subscribe: function(login, password) {

				tinng.connection.unscribe(this, 'user');

				tinng.connection.subscribe({
					subscriber:this,
					feedName:'user',
					feed:{
						feed:'user',
						login: login,
						password: password
					},
					parser:this.onResponse
				})
			},

			unscribe:function(){
				tinng.connection.unscribe(this, 'user');
			},

			onResponse:function(loginData){

				var newUser = _(this.user).isEmpty() || this.user == 'none';

				this.user = loginData;

				if (newUser){
					if (loginData == 'none') {
						// login failed

						this.fire('popup', {
							style:'error',
							code:'userNotFound'
						});

						this.status = 'anonymous';

					} else {
						// login successful
						console.log('logged in');

						this.hideDialogLogin();
						this.status = 'logged';

						// if this was manual login
						if (!this.loginFromCookies){
							var now = new Date();
							var expireDate = new Date(now.setMonth(now.getMonth()+12)); // remember for year
							tinng.funcs.setCookie({name:'login', value:loginData.login, expires: expireDate});
							tinng.funcs.setCookie({name:'password', value:this.$.inputPassword.value, expires: expireDate});

							this.fire('core-signal', {name:'rescribe-all'});
						}
					}
				}
			},

			isEmpty:function(object){
				return _(object).isEmpty();
			},

			dialogLogin:function(){
				this.$.dialogLogin.open();
			},

			hideDialogLogin:function(){
				this.$.dialogLogin.close();
			},

			logIn:function(){
				this.subscribe(this.$.inputLogin.value, this.$.inputPassword.value);
			},

			logOut:function(){
				this.status = 'anonymous';
				this.user = {};
				tinng.funcs.deleteCookie('login');
				tinng.funcs.deleteCookie('password');

				this.fire('core-signal', {name:'rescribe-all'});

				//location.reload();
			}

		})
	</script>
</polymer-element>