<link rel="import" href="../block-tag/block-tag.html">
<link rel="import" href="../block-user/block-user.html">
<link rel="import" href="../tinng-dropmenu/tinng-dropmenu.html">
<link rel="import" href="../card-base/card-behavior.html">

<dom-module id="card-post">

	<style>
		:host {
			display: block;

			--block-user-avatar: {
				 height:48px;
			};
		}

		blockquote footer {
			display:none;
		}

		tinng-dropmenu {
			margin-top:-3px;
		}
	</style>

	<template>

		<card-post-deco model="[[model]]">


			<block-user data="[[ getAuthorData(model) ]]"></block-user>

			<block-date class="created" data="[[model.created]]"></block-date>
			<block-date class="modified" data="[[model.modified]]"></block-date>

			<!--<tinng-dropmenu class="menu right">-->

				<!--<template is="dom-if" if="[[rights.canEdit]]">-->
					<!--<paper-item>-->
						<!--<iron-icon icon="create"></iron-icon>-->
						<!--<text-string>unit.posts.edit</text-string>-->
					<!--</paper-item>-->
				<!--</template>-->

				<!--<template is="dom-if" if="[[rights.canDelete]]">-->
					<!--<paper-item>-->
						<!--<iron-icon icon="delete"></iron-icon>-->
						<!--<text-string>unit.posts.delete</text-string>-->
					<!--</paper-item>-->
				<!--</template>-->

			<!--</tinng-dropmenu>-->

			<div id="message"></div>

			<template is="dom-if" if="{{!computeToNumber(model.topic_id)}}">
				<template is="dom-repeat" items="[[model.tags]]" as="tag">
					<block-tag data="[[tag]]">[[tag.name]]</block-tag>
				</template>
			</template>

		</card-post-deco>

	</template>

</dom-module>

<script>
	Polymer({
		//polymer
		is:"card-post",

		behaviors:[
			tinng.polymerBehavior.Card,
			tinng.polymerBehavior.Basic
		],

		hostAttributes:{
			"touchAction":"pan-y"
		},

		properties:{
			model:{
				type:Object,
				value: function(){ return {} },
				observer: "prepareModel"
			}
		},

		ready:function(){
			this.rights = {
				canEdit:true,
				canDelete:true
			}
		},

		//other
		prepareModel:function(model){
			this.$.message.innerHTML = model.message;
		}
	});
</script>