<link rel="import" href="../tinng-dropmenu/tinng-dropmenu.html">

<polymer-element name="card-post" attributes="model" touch-action="pan-y">
	<template>
		<style>
			:host {
				display: block;
			}

			blockquote footer {
				display:none;
			}

			tinng-dropmenu {
				margin-top:-3px;
			}
		</style>

		<card-post-deco model="{{model}}">
			<block-user data="{{ {name: model.author, id: model.author_id, email: model.author_email, avatar: model.avatar} }}"></block-user>

			<span class="created">{{model.created}}</span>
			<span class="modified">{{model.modified}}</span>

			<tinng-dropmenu class="menu right">
				<template if="{{rights.canEdit}}">
					<paper-item>
						<core-icon icon="create"></core-icon>
						<text-string>unit.posts.edit</text-string>
					</paper-item>
				</template>

				<template if="{{rights.canDelete}}">
					<paper-item>
						<core-icon icon="delete"></core-icon>
						<text-string>unit.posts.delete</text-string>
					</paper-item>
				</template>
			</tinng-dropmenu>

			<div id="message"></div>

			<template if="{{!+model.topic_id}}" repeat="{{tag in model.tags}}">
				<block-tag data="{{tag}}">{{tag.name}}</block-tag>
			</template>
		</card-post-deco>

	</template>

	<script>
		Polymer({

			//properties
			ID:0,

			//polymer
			publish:{
				unread:{value:false, reflect:true},
				selected:{value:false, reflect:true}
			},

			ready:function(){
				this.rights = {
					canEdit:true,
					canDelete:true
				}
			},

			observe:{
				'model':'prepareModel'
			},

			//other

			prepareModel:function(old, model){
				this.$.message.innerHTML = model.message;
			}
		});
	</script>
</polymer-element>