body {
	font-family: "RobotoDraft", Arial, sans-serif;
}

.tinng-page {

}

/* fix of button's non-square size */
body /deep/ paper-icon-button::shadow core-icon {
	display: block;
}

body /deep/ .highlight {
	background-color: #ffab00; /* google amber A700 */
	color:#fff;
}

body /deep/ paper-fab {
	background-color: #ffab00; /* google amber A700 */
	position: absolute;
	bottom: 30px;
	right: 45px;
}