body {
	font-family: "RobotoDraft", Arial, sans-serif;
}

.tinng-page {

}

/* fix of button's non-square size */
body /deep/ paper-icon-button::shadow core-icon {
	display: block;
}

body /deep/ .highlight {
	background-color: #ffab00; /* google amber A700 */
	color:#fff;
}

#outdated {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	height:auto;
}