body {
	font-family: "RobotoDraft", Arial, sans-serif;
	font-size: 13px;
}

.tinng-page {

}

/* fix of button's non-square size */
body /deep/ paper-icon-button::shadow core-icon {
	display: block;
}

body /deep/ .highlight {
	background-color: #ffab00; /* google amber A700 */
	color:#fff;
}

.highlight {
	background-color: #ffab00; /* google amber A700 */
	color:#fff;
}

body /deep/ paper-fab {
	background-color: #ffab00; /* google amber A700 */
	position: absolute;
	bottom: 30px;
	right: 45px;
}

paper-fab {
	background-color: #ffab00; /* google amber A700 */
	position: absolute;
	bottom: 30px;
	right: 45px;
}

body /deep/ paper-dialog {
	min-width: 300px;
	border-radius: 3px;
}

body /deep/ paper-dialog::shadow paper-shadow {
	border-radius: 3px;
}

body /deep/ paper-dialog::shadow h1 {
	margin-top:0;
	color:#01579B;
	font-weight: 300;
}

body /deep/ paper-button.action {
	color:#01579B;
}

body /deep/ paper-dialog input[type="text"],
body /deep/ paper-dialog input[type="password"]
{
	font-size: 120%;
}

body /deep/ .smalltext {
	font-size: 85%;
}

body /deep/ .tinytext {
	font-size: 70%;
}

body /deep/ core-toolbar::shadow .toolbar-tools {
	padding:0;
}

@media not handheld {

	/* toolbars, inside toolbar elements */
	body /deep/ core-toolbar,
	body /deep/ core-toolbar.core-narrow,
	body /deep/ .core-narrow core-toolbar,
	body /deep/ core-toolbar::shadow .toolbar-tools,
	body /deep/ unit-posts::shadow .allowed-users {
		height:48px
	}

	body /deep/ unit-posts::shadow .allowed-users block-user::shadow .avatar {
		height:28px;
	}

	body /deep/ core-toolbar.core-narrow.medium-tall {
		height:92px;
	}

	body /deep/ .main-block ::shadow core-toolbar > * {
		margin: 0 4px;
	}

	body /deep/ tinng-header::shadow core-toolbar,
	body /deep/ tinng-header::shadow core-toolbar::shadow .toolbar-tools {
		height:38px;
	}
}